.warning{
  border:1px solid #c44d58 !important;
}
.invalid-field{
  color:#c44d58 !important;
  margin-top:-2px !important;
  margin-bottom:-6px !important;
}

#home{
  background-image: url("https://goo.gl/Q7UKUV");
  color: #ffffff;
  height: 1000px;
  padding-top: 200px;
  width: 100%;
}

.navbar{
  background-color: #1C1C1C;
  border: none;
  margin-bottom: 0;
}

.body-tickets {
  padding: 0 70px;
}

.navbar-brand img{
  width: 111px;
}

#create-ticket{
  background: #62bba5;
  border: none;
  border-radius: 2px;
  margin: 14px auto;
  padding: 7px 0;
  width: 280px;
  text-decoration: none;
  color: #ffffff;
}

a:link, a:visited {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important; 
}
a:active {
    text-decoration: none !important;
}

.body-background {
  background-image: url("https://goo.gl/Q7UKUV");
  height: 1080px;
  width: 100%;
}

.panel-login {
  margin-top: 100px;
  border-radius: 0;
}

.panel-heading-login {
  text-align: center;
}

.btn-westwing {
  background-color: #62bba5;
  border-color: #62bba5;
  border-radius: 0;
  color: #ffffff;
}

.btn-westwing:hover {
  background-color: #376d60;
}

.btn-link-westwing {
  color: #636b6f;
}

.btn-link-westwing:hover {
  color: #000000;
}

.ticket-number {
  width: 150px;
}

.float-right {
  float: right;
}

.btn-add-ticket {
  right: 23px;
}

.body-detail {
    padding: 30px 250px;
}

span .label-detail {
    font-weight: bold;
}

.report-td {
  color: #376d60;
}

